{% extends 'base0.html' %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static 'flow.css' %}">-->

<section class="py-5 bg-light">
    <div class="container">
        <section class="wrapper">
            <div class="form-box login">
                <h1>Login</h1>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        {{ message }}
                        <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <button type="submit" >Se connecter</button>
                        </form>
                    </div>

                <div class="remember-forgot">
                    <label><input type="checkbox">
                    Remember me</label>
                    <a href="#">Forgot Password</a>
                </div>
                <button type="submit" class="btn"></button>
                <div class="login-register">
                    <p>Don't have an account? <a
                    href="{% url 'signup' %}" class="register-link">Register</a></p>
                </div>
            </div>
        </section>
    </div>
</section>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



{% endblock content %}

