{% extends "base0.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Création du propriétaire et de son entreprise</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <h4>Informations du propriétaire</h4>
        {{ form.nom_gerant.label_tag }} {{ form.nom_gerant }}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password2.label_tag }} {{ form.password2 }}

        <hr>

        <h4>Informations de l’entreprise</h4>
        {{ form.nom.label_tag }} {{ form.nom }}
        {{ form.siret.label_tag }} {{ form.siret }}
        {{ form.ape.label_tag }} {{ form.ape }}
        {{ form.adresse.label_tag }} {{ form.adresse }}
        {{ form.date_creation.label_tag }} {{ form.date_creation }}

        <button type="submit" class="btn btn-warning mt-3">
            Créer l'entreprise du propriétaire
        </button>
    </form>
</div>
{% endblock %}
