{% extends 'base.html' %}
{% block content %}
{% load static %}







<head>
  <meta charset="UTF-8">
  <title>Journal Comptable</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
  <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
</head>
<section class="py-5">
    <div class="container">
        <h1>En construction</h1>


        <div id="hot"></div>
          <script>
            const container = document.getElementById('hot');
            const hot = new Handsontable(container, {
              data: [],colHeaders: ['Date', 'Libellé', 'Compte', 'Quantité', 'Taux', 'Débit', 'Crédit', 'Journal'],
              columns: [
                {type: 'date', dateFormat: 'YYYY-MM-DD'},
                {type: 'text'},
                {type: 'text'},
                {type: 'numeric'},
                {type: 'numeric'},
                {type: 'numeric'},
                {type: 'numeric'},
                {type: 'text'}
              ],
              minSpareRows: 1,
              rowHeaders: true,
              licenseKey: 'non-commercial-and-evaluation'
            });
          </script>
        </div>
</section>
{% endblock content %}
