{% extends "base0.html" %}
{% load static %}
{% block content %}
<h2>Manager</h2>
<h2 class="mb-3">Bienvenue {{ request.user.nom_gerant|default:request.user.email }}</h2>

{% if entreprises %}
  <p>Liste des dossiers :</p>
  <ul>
    {% for e in entreprises %}
      <li><strong>{{ e.nom }}</strong> — Gérant : </li>
    {% endfor %}
  </ul>
{% else %}
  {% if is_owner %}
    <div class="alert alert-info">
      🧾 Vous êtes le propriétaire du logiciel.
      Aucune entreprise n’est encore enregistrée.
      <br>
<!--      <a href="{\% url 'creer-dossier' gerant_id %}" class="btn btn-primary mt-2">Créer une entreprise</a>-->
    </div>
  {% else %}
    <div class="alert alert-warning">
      ⚠️ Vous n’êtes associé à aucune entreprise.
      Veuillez contacter votre expert comptable.
    </div>
  {% endif %}
{% endif %}

{% endblock %}
