{% extends 'base0.html' %}
{% block content %}
{% load static %}

<section class="py-5">
  <div class="container">

    <!-- ✅ Formulaire toujours visible -->
    <form method="get" action="{% url 'afficher-compte' %}">
      <label for="numero">Numéro de compte :</label>
      <input type="text" name="numero" id="numero" value="{{ name|default_if_none:'' }}">
      <button type="submit">Rechercher</button>
    </form>
  </div>
</section>

<section class="py-3">
  <div class="container">
    <h3>Compte: <span> {{ numero }} </span>{{ nom }}</h3>
  </div>
</section>

<section>
  <div class="container">
        <div class="mt-4" data-compte-numero="{{ numero }}">
          <div id="journal-display"></div>
        </div>
  </div>
</section>
<br><br>
<script src="{% static 'js/compte.js' %}"></script>
{% endblock content %}
