{% extends 'base.html' %}
{% block content %}

<section class="py-5">
    <div class="container">
      <form method="get">
  {{ form_search.as_p }}
  <button type="submit">Rechercher</button>
</form>

{% if comptes.exists %}
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Numéro</th>
    </tr>
    {% for compte in comptes %}
    <tr>
      <td>{{ compte.id }}</td>
      <td>{{ compte.numero }}</td>
    </tr>
    {% endfor %}
  </table>

  <h3>Modifier le compte</h3>
  <form method="post">
    {% csrf_token %}
    {{ form_edit.as_p }}
    <button type="submit">Enregistrer les modifications</button>
  </form>
{% endif %}

    </div>
</section>
{% endblock content %}
