{% extends 'base0.html' %}
{% block content %}
{% load static %}

<section class="py-5">
    <div class="container">
        <h1>Journal d'achats</h1>
            <div id="hot" data-journal-type="achats"></div>
            <button id="validerEcritures" class="btn btn-primary mt-3" data-url-validation="{% url 'valider-journal' %}">Valider les écritures</button>
            <div>
              <br/>
            </div>
    </div>
    <div class="container">
      <h3>Totaux</h3>
            <div id="hot-totals" class="hot handsontable htColumnHeaders"></div>
    </div>

</section>
<script src="{% static 'js/journal.js' %}"></script>

{% endblock content %}

