<!--{\% extends 'base.html' %}-->
{% extends 'base_gerant.html' %}
{% block content %}
{% load static %}

<input type="hidden" id="entreprise_id" value="{{ entreprise.id }}">
<!--<div id="entreprise" data-id="{\{ entreprise.id }}"></div>-->

<section class="py-5">
    <div class="container">
      <h3>Journal : <span> </span>{{ entreprise }}<span>    </span><span>Id: </span>{{ entreprise.id }}</h3>
      <form method="get" class="mb-4">
        <label for="journal">Choisir un journal :</label>
        <select name="type" id="journal" onchange="this.form.submit()">
<!--            <option value="type" {% if type_journal == 'type' %}selected{% endif %}>Journal Type</option>-->
            <option value="" disabled {% if not type_journal %}selected{% endif %}>Choisir un journal</option>
            <option value="achats" {% if type_journal == 'achats' %}selected{% endif %}>Journal d'achats</option>
            <option value="ventes" {% if type_journal == 'ventes' %}selected{% endif %}>Journal de ventes</option>
            <option value="banque" {% if type_journal == 'banque' %}selected{% endif %}>Journal de banque</option>
            <option value="caisse" {% if type_journal == 'caisse' %}selected{% endif %}>Journal de caisse</option>
            <option value="cheques_postaux" {% if type_journal == 'cheques_postaux' %}selected{% endif %}>Journal de cheques postaux</option>
            <option value="cloture" {% if type_journal == 'cloture' %}selected{% endif %}>Journal de cloture</option>
            <option value="effets_a_payer" {% if type_journal == 'effets_a_payer' %}selected{% endif %}>Journal d'effets à payer</option>
            <option value="effets_a_recevoir" {% if type_journal == 'effets_a_recevoir' %}selected{% endif %}>Journal d'effets à recevoir</option>
            <option value="expert_od" {% if type_journal == 'expert_od' %}selected{% endif %}>Journal d'expert OD</option>
            <option value="reouverture" {% if type_journal == 'reouverture' %}selected{% endif %}>Journal de réouverture</option>
            <option value="report_a_nouveau" {% if type_journal == 'report_a_nouveau' %}selected{% endif %}>Journal de report à nouveau</option>
            <!-- Ajoute d'autres si besoin -->
          </select>
      </form>
    </div>
  <div class="container">
      {% if type_journal %}  <!-- Pas d'affichage sur la page d'accueil journal -->
  <h1>Journal {{ type_journal }}</h1>

        <div id="hot"></div>
        <div id="journal_display"></div>
<!--            <button id="validerEcritures" class="btn btn-primary mt-3" data-url-validation="/valider/{{ type_journal }}/">Valider les écritures</button>-->
          <button id="validerEcritures"
                  class="btn btn-success mt-3" data-url-validation="{% url 'valider-journal' type_journal %}?entreprise_id={{ entreprise.id }}">Valider les écritures</button>


      <div class="container_totaux">
        <h3>Totaux</h3>
              <div id="hot-totals" class="hot handsontable htColumnHeaders"></div>
      </div>
    {% endif %}
  </div>
</section>


<script type="module" src="{% static 'js/journal.js' %}"></script>
{% endblock %}

