{% extends "base0.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Liste des entreprises</h2>

    {% if entreprises %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ownid</th>
                    <th>Gérant</th>
                    <th>Email</th>
                    <th>Statut</th>
                    <th>Entreprise</th>
                    <th>SIRET</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for e in entreprises %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.owner_id }}</td>
                        <td>{{ e.nom_gerant|default:"-" }}</td>
                        <td>{{ e.owner.email }}</td>
                        <td>{{ e.owner.role }}</td>
                        <td>{{ e.nom }}</td>
                        <td>{{ e.siret }}</td>
                        <td>{{ e.adresse }}</td>
                        <td>
                        <a href="{% url 'accueil-compta' e.id %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">COMPTA</a>
                        <a href="{% url 'afficher-statuts' e.id %}" class="btn btn-primary btn-sm">Modifier</a>

                        <form action="{% url 'supprimer-entreprise' e.pk %}" method="post" style="display:inline;">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger"
                              onclick="return confirm('Confirmez-vous la suppression de cette entreprise ?');">
                              Suppr
                          </button>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune entreprise disponible.</p>
    {% endif %}
</div>
{% endblock %}
