

{% extends 'start.html' %}
<!--{\% load static %}-->


{% block content %}

<section class="py-5">
    <div class="container">
      <div class="titre_application">
        <h1>COMPTAPY</h1>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <h4>Dossier Entreprise</h4>
        <h5>Une entreprise</h5>
        <div class="Mono mx-auto p-2">
          <a class="btn btn-warning btn-lg"  href="{% url 'setup-gerant' %}?role=GERANT" role="button">Gérant-Comptable</a>
<!--          <a class="btn btn-warning btn-lg"  href="{\% url 'setup-gerant' %}" role="button">Gérant-Comptable</a>-->
        </div>
        <h4>Dossier Expert comptable</h4>
        <h5>Plusieurs entreprises</h5>
        <div class="Multi mx-auto p-2">
          <a class="btn btn-warning btn-lg"  href="{% url 'setup-expert' %}?role=EXPERT_COMPTABLE" role="button">Expert-Comptable</a>
<!--          <a class="btn btn-warning btn-lg"  href="{\% url 'setup-expert' %}" role="button">Expert-Comptable</a>-->
        </div>
      </div>
    </div>
</section>
{% endblock content %}



