{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="py-5">
    <div class="container">
      <h2>Modifier un compte</h2>
    </div>
    <div class="container">
      <form method="get">
        {{ form_search.as_p }}
        <button type="submit">Rechercher</button>
      </form>
    </div>
</section>


<section>
  <div class="container">

    {% if comptes.exists %}
      {% for compte in comptes %}
        <table border="1">

          <tr>
            <th>ID</th>
            <td>{{ compte.id }}</td>
          </tr>
          <tr>
            <th>Numéro</th>
            <td>{{ compte.numero }}</td>
          </tr>
          <tr>
            <th>Nom</th>
            <td>{{ compte.nom }}</td>
          </tr>
        </table>
      {% endfor %}
          <h3>Modifier le nom</h3>
          <form method="post">
            {% csrf_token %}
            {{ form_edit.as_p }}
            <button type="submit">Enregistrer les modifications</button>
          </form>

    {% endif %}
  </div>
</section>

{% endblock content %}
